<h1>Log in</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
	<p>Username:</br><%= f.text_field :username %></p>
	<p>Password:</br><%= f.text_field :password %></p>
	<%= f.submit %>
	<% end %>

